<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astar.realty.mapper.BrokerMapper">
    <resultMap id="LoginResultMap" type="com.astar.realty.data.broker.BrokerLogin$Result">
        <id property="id" column="bork_id"/>
        <result property="name" column="bork_name"/>
        <result property="profileImg" column="bork_image_file"/>
    </resultMap>

    <insert id="insertBrokerCreateInfo">
        INSERT INTO broker_info
        (bork_id, bork_pwd, bork_name, bork_phone, bork_image_file)
        VALUES
        (#{bork_id}, #{bork_pwd}, #{bork_name}, #{bork_phone}, #{bork_image_file})
    </insert>
    <select id="isExistBrokerAccountId" resultType="java.lang.Boolean">
        SELECT COUNT(*)>=1
        FROM broker_info
        WHERE BINARY bork_id = #{id}
    </select>

    <select id="isValidBrokerLoginInfo" resultType="java.lang.Boolean">
        SELECT COUNT(*)=1
        FROM broker_info
        WHERE BINARY bork_id = #{id}
            AND BINARY bork_pwd = #{pwd}
    </select>
    <select id="selectBrokerLoginInfo" resultMap="LoginResultMap">
        SELECT bork_id, bork_name, bork_image_file
        FROM broker_info
        WHERE BINARY bork_id = #{id}
            AND BINARY bork_pwd = #{pwd}
    </select>

    <update id="updateBrokerInfoById">
        UPDATE broker_info
        SET 
            bork_boi_seq = #{bork_boi_seq},
            bork_pwd = #{bork_pwd},
            bork_name = #{bork_name},
            bork_phone = #{bork_phone},
            bork_image_file = #{bork_image_file}
        WHERE bork_id = #{bork_id}
    </update>
    <select id="isExistBrokerOfficeBySeq" resultType="java.lang.Boolean">
        SELECT COUNT(*)=1
        FROM broker_office_info
        WHERE boi_seq = #{seq}
    </select>

    <select id="selectBrokerStatus" resultType="java.lang.Integer">
        SELECT bork_status
        FROM broker_info
        WHERE bork_seq = #{broker_no}
    </select>
    <update id="updateBrokerStatus">
        UPDATE broker_info
        SET bork_status = #{status}
        WHERE bork_seq = #{broker_no}
    </update>

    <insert id="insertBrokerOfficeCreateInfo">
        INSERT INTO broker_office_info
        (
            boi_name, boi_address, boi_phone, boi_master_name, boi_reg_number, 
            boi_image_file
        )
        VALUES
        (
            #{boi_name}, #{boi_address}, #{boi_phone}, #{boi_master_name}, #{boi_reg_number}, 
            #{boi_image_file}
        )
    </insert>
    <select id="isExistBrokerOffice" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 1
        FROM broker_office_info
        WHERE replace(boi_name,' ','') = #{name} 
            OR boi_reg_number = #{reg_no}
    </select>

    <select id="selectBrokerOfficeTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM broker_office_info
        WHERE boi_name LIKE CONCAT("%",#{keyword},"%")
    </select>
    <select id="selectBrokerOfficePageCount" resultType="java.lang.Integer">
        SELECT CEIL(COUNT(*)/#{limit})
        FROM broker_office_info
        WHERE boi_name LIKE CONCAT("%",#{keyword},"%")
    </select>
    <select id="selectBrokerOfficeList" resultType="com.astar.realty.data.brokerOffice.BrokerOfficeInfoVO">
        SELECT 
            boi_seq, boi_name, boi_address, boi_phone, boi_master_name, 
            boi_reg_number, boi_reg_dt, boi_image_file
        FROM broker_office_info
        WHERE boi_name LIKE CONCAT("%",#{keyword},"%")
        LIMIT #{limit} offset #{offset}
    </select>

    <update id="updateBrokerOfficeInfo">
        UPDATE broker_office_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="boi_address!=null">boi_address=#{boi_address},</if>
            <if test="boi_phone!=null">boi_phone=#{boi_phone},</if>
            <if test="boi_master_name!=null">boi_master_name=#{boi_master_name},</if>
            <if test="boi_image_file!=null">boi_image_file=#{boi_image_file},</if>
        </trim>
        WHERE boi_seq=#{boi_seq}
    </update>

    <delete id="deleteBrokerOfficeBySeq">
        DELETE 
        FROM broker_office_info
        WHERE boi_seq=#{office_no}
    </delete>
    <select id="selectBrokerOfficeBySeq" resultType="com.astar.realty.data.brokerOffice.BrokerOfficeInfoVO">
        SELECT 
            boi_seq, boi_name, boi_address, boi_phone, boi_master_name, 
            boi_reg_number, boi_reg_dt, boi_image_file
        FROM broker_office_info 
        WHERE boi_seq = #{office_no}
    </select>
</mapper>