<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astar.realty.domain.realty.mapper.RealtyMapper">
    <insert id="insertBuildingInfo">
        INSERT INTO building_info
        (
            bi_name, bi_total_floor, bi_total_parking, bi_elevator, bi_use_type, 
            bi_use_accepted_dt, bi_address, bi_longitude, bi_latitude
        )
        VALUES
        (
            #{bi_name}, #{bi_total_floor}, #{bi_total_parking}, #{bi_elevator}, #{bi_use_type}, 
            #{bi_use_accepted_dt}, #{bi_address}, #{bi_longitude}, #{bi_latitude}
        )
    </insert>
    <select id="isExistBuildingAddress" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 1
        FROM building_info
        WHERE replace(bi_address,' ','') = #{noneSpacingAddress}
    </select>
    <select id="selectBuildingPageCount" resultType="java.lang.Integer">
        SELECT CEIL(COUNT(*)/#{limit})
        FROM building_info
        WHERE bi_name LIKE CONCAT("%",#{keyword},"%")
    </select>
    <select id="selectBuildingTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM building_info
        WHERE bi_name LIKE CONCAT("%",#{keyword},"%")
    </select>
    <select id="selectBuildingList" resultType="com.astar.realty.domain.realty.data.BuildingInfoVO">
        SELECT *
        FROM building_info
        WHERE bi_name LIKE CONCAT("%",#{keyword},"%")
        LIMIT #{limit} offset #{offset}
    </select>

    <update id="updateBuildingInfo">
        UPDATE building_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="update_name">bi_name=#{building_info.bi_name},</if>
            <if test="update_total_floor">bi_total_floor=#{building_info.bi_total_floor},</if>
            <if test="update_total_parking">bi_total_parking=#{building_info.bi_total_parking},</if>
            <if test="update_elevator">bi_elevator=#{building_info.bi_elevator},</if>
            <if test="update_use_type">bi_use_type=#{building_info.bi_use_type},</if>
            <if test="update_use_accepted_dt">bi_use_accepted_dt=#{building_info.bi_use_accepted_dt},</if>
            <if test="update_address">bi_address=#{building_info.bi_address},</if>
            <if test="update_longitude">bi_longitude=#{building_info.bi_longitude},</if>
            <if test="update_latitude">bi_latitude=#{building_info.bi_latitude},</if>
        </trim>
        WHERE 
            bi_seq=#{building_info.bi_seq}
    </update>
    <select id="isExistBuildingInfoBySeq" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 1 
        FROM building_info
        WHERE bi_seq = #{building_no}
    </select>
    <delete id="deleteBuildingInfo">
        DELETE
        FROM building_info
        WHERE bi_seq = #{building_no}
    </delete>


    <insert id="insertRealtyOptionInfo" useGeneratedKeys="true"
        parameterType="com.astar.realty.domain.realty.data.RealtyOptionInfoVO"
        keyProperty="ro_seq"
    >
        INSERT INTO realty_option
        (
            ro_induction, ro_elec_range, ro_ariconditioner, ro_washing_machine, ro_television, 
            ro_closet, ro_bed, ro_desk, ro_shoe_closet, ro_bidet, 
            ro_stove, ro_refrigerator, ro_elec_doorlock
        )
        VALUES        
        (
            #{ro_induction}, #{ro_elec_range}, #{ro_ariconditioner}, #{ro_washing_machine}, #{ro_television}, 
            #{ro_closet}, #{ro_bed}, #{ro_desk}, #{ro_shoe_closet}, #{ro_bidet}, 
            #{ro_stove}, #{ro_refrigerator}, #{ro_elec_doorlock}
        )
    </insert>
    <insert id="insertRealtyBasicInfo" useGeneratedKeys="true"
        parameterType="com.astar.realty.domain.realty.data.RealtyBasicInfoVO"
        keyProperty="rbi_seq"
    >
        INSERT INTO realty_basic_info
        (
            rbi_price, rbi_monthly_price, rbi_maintain_price, rbi_sale_type, rbi_parking_count, 
            rbi_short_term_lease, rbi_room_type, rbi_floor, rbi_supply_area, rbi_use_area, 
            rbi_room_count, rbi_buliding_number, rbi_room_number, rbi_room_direction, rbi_heating_type, 
            rbi_kitchen_type, rbi_balcony_type, rbi_available_dt, rbi_reg_dt, rbi_status, 
            rbi_kitchen_structure, rbi_maintain_list, rbi_bi_seq, rbi_ro_seq
        )
        VALUES
        (
            #{rbi_price}, #{rbi_monthly_price}, #{rbi_maintain_price}, #{rbi_sale_type}, #{rbi_parking_count}, 
            #{rbi_short_term_lease}, #{rbi_room_type}, #{rbi_floor}, #{rbi_supply_area}, #{rbi_use_area}, 
            #{rbi_room_count}, #{rbi_buliding_number}, #{rbi_room_number}, #{rbi_room_direction}, #{rbi_heating_type}, 
            #{rbi_kitchen_type}, #{rbi_balcony_type}, #{rbi_available_dt}, #{rbi_reg_dt}, #{rbi_status}, 
            #{rbi_kitchen_structure}, #{rbi_maintain_list}, #{rbi_bi_seq}, #{rbi_ro_seq}
        )
    </insert>
    <insert id="insertRealtyPostInfo">
        INSERT INTO realty_post_info
        (rpi_title, rpi_content, rpi_bork_seq, rpi_rbi_seq)
        VALUES
        (#{rpi_title}, #{rpi_content}, #{rpi_bork_seq}, #{rpi_rbi_seq})
    </insert>

    <update id="updateRealtyBasicInfo">
        UPDATE realty_basic_info        
        <trim prefix="SET" suffixOverrides=",">
            <if test="rbi_price!=null">rbi_price=#{rbi_price},</if>
            <if test="rbi_monthly_price!=null">rbi_monthly_price=#{rbi_monthly_price},</if>
            <if test="rbi_maintain_price!=null">rbi_maintain_price=#{rbi_maintain_price},</if>
            <if test="rbi_sale_type!=null">rbi_sale_type=#{rbi_sale_type},</if>
            <if test="rbi_parking_count!=null">rbi_parking_count=#{rbi_parking_count},</if>
            <if test="rbi_short_term_lease!=null">rbi_short_term_lease=#{rbi_short_term_lease},</if>
            <if test="rbi_room_type!=null">rbi_room_type=#{rbi_room_type},</if>
            <if test="rbi_floor!=null">rbi_floor=#{rbi_floor},</if>
            <if test="rbi_supply_area!=null">rbi_supply_area=#{rbi_supply_area},</if>
            <if test="rbi_use_area!=null">rbi_use_area=#{rbi_use_area},</if>
            <if test="rbi_room_count!=null">rbi_room_count=#{rbi_room_count},</if>
            <if test="rbi_buliding_number!=null">rbi_buliding_number=#{rbi_buliding_number},</if>
            <if test="rbi_room_number!=null">rbi_room_number=#{rbi_room_number},</if>
            <if test="rbi_room_direction!=null">rbi_room_direction=#{rbi_room_direction},</if>
            <if test="rbi_heating_type!=null">rbi_heating_type=#{rbi_heating_type},</if>
            <if test="rbi_kitchen_type!=null">rbi_kitchen_type=#{rbi_kitchen_type},</if>
            <if test="rbi_balcony_type!=null">rbi_balcony_type=#{rbi_balcony_type},</if>
            <if test="rbi_available_dt!=null">rbi_available_dt=#{rbi_available_dt},</if>
            <if test="rbi_reg_dt!=null">rbi_reg_dt=#{rbi_reg_dt},</if>
            <if test="rbi_status!=null">rbi_status=#{rbi_status},</if>
            <if test="rbi_kitchen_structure!=null">rbi_kitchen_structure=#{rbi_kitchen_structure},</if>
            <if test="rbi_maintain_list!=null">rbi_maintain_list=#{rbi_maintain_list},</if>
            <if test="rbi_bi_seq!=null">rbi_bi_seq=#{rbi_bi_seq},</if>
            <if test="rbi_ro_seq!=null">rbi_ro_seq=#{rbi_ro_seq},</if>
        </trim>
        WHERE rbi_seq=#{rbi_seq}
    </update>
    <update id="updateRealtyOptionInfo">
        UPDATE realty_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="ro_induction!=null">ro_induction=#{ro_induction},</if>
            <if test="ro_elec_range!=null">ro_elec_range=#{ro_elec_range},</if>
            <if test="ro_ariconditioner!=null">ro_ariconditioner=#{ro_ariconditioner},</if>
            <if test="ro_washing_machine!=null">ro_washing_machine=#{ro_washing_machine},</if>
            <if test="ro_television!=null">ro_television=#{ro_television},</if>
            <if test="ro_closet!=null">ro_closet=#{ro_closet},</if>
            <if test="ro_bed!=null">ro_bed=#{ro_bed},</if>
            <if test="ro_desk!=null">ro_desk=#{ro_desk},</if>
            <if test="ro_shoe_closet!=null">ro_shoe_closet=#{ro_shoe_closet},</if>
            <if test="ro_bidet!=null">ro_bidet=#{ro_bidet},</if>
            <if test="ro_stove!=null">ro_stove=#{ro_stove},</if>
            <if test="ro_refrigerator!=null">ro_refrigerator=#{ro_refrigerator},</if>
            <if test="ro_elec_doorlock!=null">ro_elec_doorlock=#{ro_elec_doorlock},</if>
        </trim>
        WHERE ro_seq=#{ro_seq}
    </update>
    <select id="isExistRealtyOptionInfoBySeq" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 1 
        FROM realty_option
        WHERE ro_seq = #{option_no}
    </select>
    <update id="updateRealtyPostInfo">
        UPDATE realty_post_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="rpi_title!=null">rpi_title=#{rpi_title},</if>
            <if test="rpi_content!=null">rpi_content=#{rpi_content},</if>
            <if test="rpi_bork_seq!=null">rpi_bork_seq=#{rpi_bork_seq},</if>
            <if test="rpi_rbi_seq!=null">rpi_rbi_seq=#{rpi_rbi_seq},</if>
        </trim>
        WHERE rpi_seq=#{rpi_seq}
    </update>
    <select id="isExistRealtyPostInfoBySeq" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 1 
        FROM realty_post_info
        WHERE rpi_seq = #{post_no}
    </select>

    <select id="isExistMaintainName" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 1 
        FROM maintain_info 
        WHERE maintain_name = #{name}
    </select>
    <insert id="insertMaintainItem">
        INSERT INTO maintain_info
        (maintain_name) 
        VALUES
        (#{name})
    </insert>

    <select id="selectMaintainItemCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM maintain_info
    </select>
    <select id="selectMaintainItemList" resultType="com.astar.realty.domain.realty.data.RealtyMaintainInfoVO">
        SELECT maintain_seq, maintain_name
        FROM maintain_info
    </select>

    <select id="isExistMaintainItemBySeq" resultType="java.lang.Boolean">
        SELECT COUNT(*) = 1 
        FROM maintain_info
        WHERE maintain_seq = #{maintain_no}
    </select>
    <delete id="deleteMaintainItemBySeq">
        DELETE FROM maintain_info 
        WHERE maintain_seq = #{maintain_no}
    </delete>
    
    <select id="selectRealtyPostList" resultType="com.astar.realty.domain.realty.data.RealtyPostViewVO">
        SELECT rdv.*, 
            (
                6371 * acos(
                            cos(radians(bi_latitude))
                            * cos(radians(#{searchKeywords.center_point_latitude}))
                            * cos(radians(bi_longitude) - radians(#{searchKeywords.center_point_longitude}))
                            + sin(radians(bi_latitude))
                            * sin(radians(#{searchKeywords.center_point_latitude}))
                        )
            )as distance
        FROM realty_detail_view rdv
        <trim prefix="HAVING" prefixOverrides="AND">
            <if test="searchKeywords.center_point_radius != null">
                AND distance <![CDATA[<=]]> #{searchKeywords.center_point_radius}
            </if>
            <choose>
                <when test="searchKeywords.min_price != null and searchKeywords.max_price != null">
                    AND rdv.rbi_price BETWEEN #{searchKeywords.min_price} AND #{searchKeywords.max_price}
                </when>
                <when test="searchKeywords.min_price != null">
                    AND rdv.rbi_price <![CDATA[>=]]> #{searchKeywords.min_price}   
                </when>
                <when test="searchKeywords.max_price != null">
                    AND rdv.rbi_price <![CDATA[<=]]> #{searchKeywords.max_price}
                </when>
            </choose>
            <choose>
                <when test="searchKeywords.min_monthly_price != null and searchKeywords.max_monthly_price != null">
                    AND rdv.rbi_monthly_price BETWEEN #{searchKeywords.min_monthly_price} AND #{searchKeywords.max_monthly_price}
                </when>
                <when test="searchKeywords.min_monthly_price != null">
                    AND rdv.rbi_monthly_price <![CDATA[>=]]> #{searchKeywords.min_monthly_price}   
                </when>
                <when test="searchKeywords.max_monthly_price != null">
                    AND rdv.rbi_monthly_price <![CDATA[<=]]> #{searchKeywords.max_monthly_price}
                </when>
            </choose>
            <choose>
                <when test="searchKeywords.min_maintain_price != null and searchKeywords.max_maintain_price != null">
                    AND rdv.rbi_maintain_price BETWEEN #{searchKeywords.min_maintain_price} AND #{searchKeywords.max_maintain_price}
                </when>
                <when test="searchKeywords.min_maintain_price != null">
                    AND rdv.rbi_maintain_price <![CDATA[>=]]> #{searchKeywords.min_maintain_price}   
                </when>
                <when test="searchKeywords.max_maintain_price != null">
                    AND rdv.rbi_maintain_price <![CDATA[<=]]> #{searchKeywords.max_maintain_price}
                </when>
            </choose>
            <if test="searchKeywords.sale_type != null">AND rdv.rbi_sale_type = #{searchKeywords.sale_type}</if>
            <if test="searchKeywords.parking_count != null">AND rdv.rbi_parking_count <![CDATA[>]]> #{searchKeywords.parking_count}</if>
            <if test="searchKeywords.short_term_lease != null">AND rdv.rbi_short_term_lease = #{searchKeywords.short_term_lease}</if>
            <if test="searchKeywords.room_type != null">AND rdv.rbi_room_type = #{searchKeywords.room_type}</if>
            <if test="searchKeywords.floor != null">AND rdv.rbi_floor IN 
                <foreach collection="searchKeywords.floor" item="item" index="index"  open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if> 
            <choose>
                <when test="searchKeywords.min_supply_area != null and searchKeywords.max_supply_area != null">
                    AND rdv.rbi_supply_area BETWEEN #{searchKeywords.min_supply_area} AND #{searchKeywords.max_supply_area}
                </when>
                <when test="searchKeywords.min_supply_area != null">
                    AND rdv.rbi_supply_area <![CDATA[>=]]> #{searchKeywords.min_supply_area}   
                </when>
                <when test="searchKeywords.max_supply_area != null">
                    AND rdv.rbi_supply_area <![CDATA[<=]]> #{searchKeywords.max_supply_area}
                </when>
            </choose>
            <if test="searchKeywords.room_count != null">AND rdv.rbi_room_count <![CDATA[>=]]> #{searchKeywords.room_count}</if>
            <if test="searchKeywords.room_direction != null">AND rdv.rbi_room_direction IN 
                <foreach collection="searchKeywords.room_direction" item="item" index="index"  open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>         
            <if test="searchKeywords.kitchen_type != null">AND rdv.rbi_kitchen_type = #{searchKeywords.kitchen_type}</if>
            <if test="searchKeywords.balcony_type != null">AND rdv.rbi_balcony_type = #{searchKeywords.balcony_type}</if>
            <choose>
                <when test="searchKeywords.min_available_dt != null and searchKeywords.max_available_dt != null">
                    AND rdv.rbi_available_dt BETWEEN #{searchKeywords.min_available_dt} AND #{searchKeywords.max_available_dt}
                </when>
                <when test="searchKeywords.min_available_dt != null">
                    AND rdv.rbi_available_dt <![CDATA[>=]]> #{searchKeywords.min_available_dt}   
                </when>
                <when test="searchKeywords.max_available_dt != null">
                    AND rdv.rbi_available_dt <![CDATA[<=]]> #{searchKeywords.max_available_dt}
                </when>
            </choose>
            <if test="searchKeywords.kitchen_structure !=null">AND rdv.rbi_kitchen_structure = #{searchKeywords.kitchen_structure}</if>
            <if test="searchKeywords.induction !=null">AND ro_induction = #{searchKeywords.induction}</if>
            <if test="searchKeywords.elec_range !=null">AND ro_elec_range = #{searchKeywords.elec_range}</if>
            <if test="searchKeywords.ariconditioner !=null">AND ro_ariconditioner = #{searchKeywords.ariconditioner}</if>
            <if test="searchKeywords.washing_machine !=null">AND ro_washing_machine = #{searchKeywords.washing_machine}</if>
            <if test="searchKeywords.television !=null">AND ro_television = #{searchKeywords.television}</if>
            <if test="searchKeywords.closet !=null">AND ro_closet = #{searchKeywords.closet}</if>
            <if test="searchKeywords.bed !=null">AND ro_bed = #{searchKeywords.bed}</if>
            <if test="searchKeywords.desk !=null">AND ro_desk = #{searchKeywords.desk}</if>
            <if test="searchKeywords.shoe_closet !=null">AND ro_shoe_closet = #{searchKeywords.shoe_closet}</if>
            <if test="searchKeywords.bidet !=null">AND ro_bidet = #{searchKeywords.bidet}</if>
            <if test="searchKeywords.stove !=null">AND ro_stove = #{searchKeywords.stove}</if>
            <if test="searchKeywords.refrigerator !=null">AND ro_refrigerator = #{searchKeywords.refrigerator}</if>
            <if test="searchKeywords.elec_doorlock !=null">AND ro_elec_doorlock = #{searchKeywords.elec_doorlock}</if>
            <if test="searchKeywords.elevator !=null">AND bi_elevator =  #{searchKeywords.elevator}</if>
            <if test="searchKeywords.address !=null">AND bi_address like CONCAT("%",#{searchKeywords.address},"%")</if>
        </trim>
            LIMIT #{limit} offset #{offset}
    </select>
    <select id="selectRealtyPostPageCount" resultType="java.lang.Integer">
        SELECT CEIL(COUNT(*)/#{limit})
        FROM realty_detail_view rdv
    </select>
    <select id="selectRealtyPostTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM realty_detail_view rdv
    </select>

    <select id="selectRealtyPostInfoBySeq" resultType="com.astar.realty.domain.realty.data.RealtyPostViewVO">
        SELECT 
            rpi_seq,rpi_title,rpi_content,rpi_bork_seq,rpi_rbi_seq,
            rbi_seq,rbi_price,rbi_monthly_price,rbi_maintain_price,rbi_sale_type,
            rbi_parking_count,rbi_short_term_lease,rbi_room_type,rbi_floor,rbi_supply_area,
            rbi_use_area,rbi_room_count,rbi_buliding_number,rbi_room_number,rbi_room_direction,
            rbi_heating_type,rbi_kitchen_type,rbi_balcony_type,rbi_available_dt,rbi_reg_dt,
            rbi_status,rbi_kitchen_structure,rbi_maintain_list,rbi_bi_seq,rbi_ro_seq,
            ro_seq,ro_induction,ro_elec_range,ro_ariconditioner,ro_washing_machine,
            ro_television,ro_closet,ro_bed,ro_desk,ro_shoe_closet,
            ro_bidet,ro_stove,ro_refrigerator,ro_elec_doorlock,bi_seq,
            bi_name,bi_total_floor,bi_total_parking,bi_elevator,bi_use_type,
            bi_use_accepted_dt,bi_address,bi_longitude,bi_latitude,bork_seq,
            bork_boi_seq,bork_id,bork_pwd,bork_name,bork_phone,
            bork_status,bork_image_file
        FROM realty_detail_view rdv
        WHERE rdv.rpi_seq = #{post_no}
    </select>


</mapper>